body {
    background-color: #ebebeb;
}

.horizontal-slider-wrapper {
    width: 90vh;
    display: flex;
    flex-direction: row;
    max-height: 25px;
}

.horizontal-arrow {
    height: 25px;
    width: 25px;
    background-color: #d1d1d1;
}

.horizontal-arrow:hover {
    background-color: #c1c1c1;
}

.horizontal-slider {
    width: 90%;
    background-color: #f1f1f1;
}

.horizontal-handle {
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 50px;
    background-color: #c1c1c1;
    cursor: pointer;
}

.horizontal-handle:hover {
    background-color: #787878;
}