body {
    background-color: #ebebeb;
}

.vertical-slider-wrapper {
    height: 90vh;
    display: flex;
    flex-direction: column;
    max-width: 25px;
}

.vertical-arrow {
    height: 25px;
    width: 25px;
    background-color: #d1d1d1;
}

.vertical-arrow:hover {
    background-color: #c1c1c1;
}

.vertical-slider {
    background-color: #f1f1f1;
    flex: 1;
}

.vertical-handle {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: #c1c1c1;
    cursor: pointer;
}

.vertical-handle:hover {
    background-color: #787878;
}