body {
    background-color: grey;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

gameface-base-menu {
    position: absolute;
}

menu-item {
    position: relative;
    padding: 10px;
    cursor: pointer;
}

menu-item.active {
    background-color: #25a5d6;
}

menu-item.hover {
    background-color: #e6e6e6;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}