.guic-checkbox-background {
    box-sizing: border-box;
    top: 0px;
    width: 30px;
    height: 30px;
    border-width: 5px;
    border-style: solid;
    border-top-color: orange;
    border-right-color: orange;
    border-bottom-color: orange;
    border-left-color: orange;
}

.guic-checkbox-mark {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: #333;
}

.guic-checkbox-label {
    position: relative;
    padding-left: 10px;
    line-height: 30px;
    user-select: none;
}