.guic-color-picker {
    width: 30vh;
    background-color: var(--default-color-gray);
}

.guic-ls-picker {
    height: 15vh;
    width: 100%;
    position: relative;
    background-image: linear-gradient(to bottom, transparent, black), linear-gradient(to right, white, red 62%);
}

.guic-color-picker .guic-horizontal-rangeslider-handle {
    width: 2vh;
    height: 2vh;
    border: 0.3vh solid white;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
}

.guic-ls-picker .guic-horizontal-rangeslider-handle {
    transform: translate(-50%, -50%);
}

.guic-hue-picker,
.guic-alpha-picker {
    height: 2.5vh;
    width: 100%;
    padding: 0 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.guic-color-picker .guic-horizontal-rangeslider-wrapper {
    width: 27vh;
    margin: 0;
}

.guic-hue-picker .guic-horizontal-rangeslider {
    background-image: linear-gradient(to right, red, yellow, lime, cyan, blue, magenta, red);
    height: 1.5vh;
    border-radius: 1vh;
}

.guic-alpha-picker .guic-horizontal-rangeslider {
    
    background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
        linear-gradient(135deg, #ccc 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ccc 75%),
        linear-gradient(135deg, transparent 75%, #ccc 75%);
    background-size: 1.5vh 1.5vh; /* Must be a square */
    background-position: 0 0, 0.75vh 0, 0.75vh -0.75vh, 0px 0.75vh; /* Must be half of one side of the square */
    height: 1.5vh;
    border-radius: 1vh;
    position: relative;
}

.guic-alpha-picker-slider {
    --color: red;
}

.guic-alpha-picker .guic-horizontal-rangeslider::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, transparent, var(--color));
    border-radius: 1vh;
}

.guic-color-picker .guic-horizontal-rangeslider-bar {
    background-color: transparent;
}

.guic-color-preview-tabs {
    width: 100%;
    display: flex;
    justify-content: center;
}

.guic-color-preview-tab {
    width: 5vh;
    height: 3vh;
    color: rgb(97, 97, 97);
    border: 0.3vh solid rgb(97, 97, 97);
    font-size: 1.3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.guic-color-preview-tab:first-child {
    border-radius: 1.5vh 0 0 1.5vh;
    border-right: 0;
}

.guic-color-preview-tab:last-child {
    border-radius: 0 1.5vh 1.5vh 0;
}

.guic-color-preview-tab-active {
    background-color: rgb(97, 97, 97);
    color: white;
}

.guic-color-preview {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vh;
    box-sizing: border-box;
}

.guic-color-preview-box {
    width: 5vh;
    height: 5vh;
    border: 0.3vh solid rgb(97, 97, 97);
    background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
        linear-gradient(135deg, #ccc 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ccc 75%),
        linear-gradient(135deg, transparent 75%, #ccc 75%);
    background-size: 1.5vh 1.5vh; /* Must be a square */
    background-position: 0 0, 0.75vh 0, 0.75vh -0.75vh, 0px 0.75vh; /* Must be half of one side of the square */
    border-radius: 50%;
    position: relative;
}

.guic-color-preview-box-color {
    width: 100%;
    height: 100%;
    background-color: #00000001;
    border-radius: 50%;
}

.guic-color-preview-input {
    height: 5vh;
    width: 20vh;
    background-color: transparent;
    border: 0.3vh solid rgb(97, 97, 97);
    border-radius: 4vh;
    display: flex;
    padding: 1vh;
    font-size: 1.7vh;
    text-align: center;
    box-sizing: border-box;
}
