<div class="guic-color-picker">
    <div class="guic-ls-picker">
        <div class="guic-horizontal-rangeslider-handle guic-ls-picker-handle"></div>
    </div>
    <div class="guic-hue-picker">
        <gameface-rangeslider class="guic-hue-picker-slider" min="0" max="360"></gameface-rangeslider>
    </div>
    <div class="guic-alpha-picker">
        <gameface-rangeslider class="guic-alpha-picker-slider"></gameface-rangeslider>
    </div>
    <div class="guic-color-preview-container">
        <div class="guic-color-preview-tabs">
            <div class="guic-color-preview-tab guic-color-preview-tab-active">HEX</div>
            <div class="guic-color-preview-tab">RGBA</div>
        </div>
        <div class="guic-color-preview">
            <div class="guic-color-preview-box">
                <div class="guic-color-preview-box-color"></div>
            </div>
            <input class="guic-color-preview-input" />
        </div>
    </div>
</div>
