<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box {
            box-sizing: border-box;
            background: #25a5d6;
            margin-bottom: 1rem;
            height: 4rem;
        }

        body {
            font-size: 16px;
        }
    </style>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <h1 class="title">Select character</h1>
    <div class="guic-row">
        <div class="guic-col-2 avatar-container">
            <div class="avatar avatar1" data-id="1"></div>
        </div>
        <div class="guic-col-2 avatar-container">
            <div class="avatar avatar2" data-id="2"></div>
        </div>
        <div class="guic-col-2 avatar-container">
            <div class="avatar avatar3" data-id="3"></div>
        </div>
        <div class="guic-col-2 avatar-container">
            <div class="avatar avatar4" data-id="4"></div>
        </div>
        <div class="guic-col-2 avatar-container">
            <div class="avatar avatar5" data-id="5"></div>
        </div>
        <div class="guic-col-2 avatar-container">
            <div class="avatar avatar6" data-id="6"></div>
        </div>
        <div class="guic-col-12">
            <div class="guic-row" id="avatar1-classes">
                <div class="guic-col">
                    <div class="class class1"></div>
                </div>
                <div class="guic-col">
                    <div class="class class2"></div>
                </div>
                <div class="guic-col">
                    <div class="class class3"></div>
                </div>
                <div class="guic-col">
                    <div class="class class4"></div>
                </div>
                <div class="guic-col">
                    <div class="class class5"></div>
                </div>
                <div class="guic-col">
                    <div class="class class6"></div>
                </div>
                <div class="guic-col">
                    <div class="class class7"></div>
                </div>
                <div class="guic-col">
                    <div class="class class8"></div>
                </div>
                <div class="guic-col">
                    <div class="class class9"></div>
                </div>
                <div class="guic-col">
                    <div class="class class10"></div>
                </div>
                <div class="guic-col">
                    <div class="class class11"></div>
                </div>
                <div class="guic-col">
                    <div class="class class12"></div>
                </div>
            </div>
            <div class="guic-row" id="avatar2-classes">
                <div class="guic-col">
                    <div class="class class1"></div>
                </div>
                <div class="guic-col">
                    <div class="class class2"></div>
                </div>
                <div class="guic-col">
                    <div class="class class3"></div>
                </div>
                <div class="guic-col">
                    <div class="class class4"></div>
                </div>
                <div class="guic-col">
                    <div class="class class5"></div>
                </div>
                <div class="guic-col">
                    <div class="class class6"></div>
                </div>
                <div class="guic-col">
                    <div class="class class7"></div>
                </div>
                <div class="guic-col">
                    <div class="class class8"></div>
                </div>
            </div>
            <div class="guic-row" id="avatar3-classes">
                <div class="guic-col">
                    <div class="class class1"></div>
                </div>
                <div class="guic-col">
                    <div class="class class2"></div>
                </div>
                <div class="guic-col">
                    <div class="class class3"></div>
                </div>
                <div class="guic-col">
                    <div class="class class4"></div>
                </div>
                <div class="guic-col">
                    <div class="class class5"></div>
                </div>
                <div class="guic-col">
                    <div class="class class6"></div>
                </div>
            </div>
            <div class="guic-row" id="avatar4-classes">
                <div class="guic-col">
                    <div class="class class1"></div>
                </div>
                <div class="guic-col">
                    <div class="class class2"></div>
                </div>
                <div class="guic-col">
                    <div class="class class3"></div>
                </div>
                <div class="guic-col">
                    <div class="class class4"></div>
                </div>
                <div class="guic-col">
                    <div class="class class5"></div>
                </div>
                <div class="guic-col">
                    <div class="class class6"></div>
                </div>
                <div class="guic-col">
                    <div class="class class7"></div>
                </div>
                <div class="guic-col">
                    <div class="class class8"></div>
                </div>
                <div class="guic-col">
                    <div class="class class9"></div>
                </div>
                <div class="guic-col">
                    <div class="class class10"></div>
                </div>
                <div class="guic-col">
                    <div class="class class11"></div>
                </div>
            </div>
            <div class="guic-row" id="avatar5-classes">
                <div class="guic-col">
                    <div class="class class1"></div>
                </div>
                <div class="guic-col">
                    <div class="class class2"></div>
                </div>
                <div class="guic-col">
                    <div class="class class3"></div>
                </div>
                <div class="guic-col">
                    <div class="class class4"></div>
                </div>
                <div class="guic-col">
                    <div class="class class5"></div>
                </div>
            </div>
            <div class="guic-row" id="avatar6-classes">
                <div class="guic-col">
                    <div class="class class1"></div>
                </div>
                <div class="guic-col">
                    <div class="class class2"></div>
                </div>
                <div class="guic-col">
                    <div class="class class3"></div>
                </div>
                <div class="guic-col">
                    <div class="class class4"></div>
                </div>
                <div class="guic-col">
                    <div class="class class5"></div>
                </div>
                <div class="guic-col">
                    <div class="class class6"></div>
                </div>
                <div class="guic-col">
                    <div class="class class7"></div>
                </div>
            </div>
        </div>
    </div>

    <h2>Fluid</h2>
    <div class="guic-row">
        <div class="guic-col-12">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col-2">
            <div class="box"></div>
        </div>
        <div class="guic-col-10">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col-1">
            <div class="box"></div>
        </div>
        <div class="guic-col-11">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col-3">
            <div class="box"></div>
        </div>
        <div class="guic-col-9">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col-4">
            <div class="box"></div>
        </div>
        <div class="guic-col-8">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col-5">
            <div class="box"></div>
        </div>
        <div class="guic-col-7">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col-6">
            <div class="box"></div>
        </div>
        <div class="guic-col-6">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col-3">
            <div class="box"></div>
        </div>
        <div class="guic-col-3">
            <div class="box"></div>
        </div>
        <div class="guic-col-3">
            <div class="box"></div>
        </div>
        <div class="guic-col-3">
            <div class="box"></div>
        </div>
    </div>

    <h2>Offsets</h2>
    <div class="guic-row">
        <div class="guic-col-offset-11 guic-col-1">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col-offset-10 guic-col-2">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col-offset-9 guic-col-3">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col-offset-8 guic-col-4">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col-offset-7 guic-col-5">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col-offset-6 guic-col-6">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col-offset-5 guic-col-7">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col-offset-4 guic-col-8">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col-offset-3 guic-col-9">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col-offset-2 guic-col-10">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col-offset-1 guic-col-11">
            <div class="box"></div>
        </div>
    </div>

    <h2>Auto Width</h2>
    <div class="guic-row">
        <div class="guic-col">
            <div class="box"></div>
        </div>
        <div class="guic-col">
            <div class="box"></div>
        </div>
        <div class="guic-col">
            <div class="box"></div>
        </div>
        <div class="guic-col">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col">
            <div class="box"></div>
        </div>
        <div class="guic-col">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col">
            <div class="box"></div>
        </div>
        <div class="guic-col">
            <div class="box"></div>
        </div>
        <div class="guic-col">
            <div class="box"></div>
        </div>
    </div>

    <h2>Set and Auto Width</h2>
    <div class="guic-row">
        <div class="guic-col-4">
            <div class="box"></div>
        </div>
        <div class="guic-col">
            <div class="box"></div>
        </div>
        <div class="guic-col-2">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col-3">
            <div class="box"></div>
        </div>
        <div class="guic-col">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col">
            <div class="box"></div>
        </div>
        <div class="guic-col-3">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col">
            <div class="box"></div>
        </div>
        <div class="guic-col-5">
            <div class="box"></div>
        </div>
        <div class="guic-col">
            <div class="box"></div>
        </div>
    </div>
    <h2>Static Size and Auto Width</h2>
    <div class="guic-row">
        <div class="guic-col custom-static-col-300px">
            <div class="box"></div>
        </div>
        <div class="guic-col">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col">
            <div class="box"></div>
        </div>
        <div class="guic-col custom-static-col-300px">
            <div class="box"></div>
        </div>
    </div>
    <div class="guic-row">
        <div class="guic-col custom-static-col-300px">
            <div class="box"></div>
        </div>
        <div class="guic-col">
            <div class="box"></div>
        </div>
        <div class="guic-col custom-static-col-300px">
            <div class="box"></div>
        </div>
    </div>

    <script src="./bundle.js"></script>
</body>

</html>