body {
    font-size: 16px;
    background-color: #ffffff;
}

.title {
    margin-bottom: 3rem;
}

.selected {
    transform: scale(1.2);
}

.avatar {
    margin-bottom: 2rem;
    min-height: 21vw;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
}

.avatar-container {
    z-index: 1;
}

.avatar-container:hover {
    z-index: 3;
}

.avatar:hover, .class:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.avatar1 {
    background-image: url(./images/avatar1.png);
}

.avatar2 {
    background-image: url(./images/avatar2.png);
}

.avatar3 {
    background-image: url(./images/avatar3.png);
}

.avatar4 {
    background-image: url(./images/avatar4.png);
}

.avatar5 {
    background-image: url(./images/avatar5.png);
}

.avatar6 {
    background-image: url(./images/avatar6.png);
}

#avatar1-classes, #avatar2-classes, #avatar3-classes, #avatar4-classes, #avatar5-classes, #avatar6-classes {
    display: none;
}

.class {
    margin-bottom: 1rem;
    min-height: 10vw;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
}

.class.active {
    filter: saturate(14);
}

.class1 {
    background-image: url(./images/class1.png);
}

.class2 {
    background-image: url(./images/class2.png);
}

.class3 {
    background-image: url(./images/class3.png);
}

.class4 {
    background-image: url(./images/class4.png);
}

.class5 {
    background-image: url(./images/class5.png);
}

.class6 {
    background-image: url(./images/class6.png);
}

.class7 {
    background-image: url(./images/class7.png);
}

.class8 {
    background-image: url(./images/class8.png);
}

.class9 {
    background-image: url(./images/class9.png);
}

.class10 {
    background-image: url(./images/class10.png);
}

.class11 {
    background-image: url(./images/class11.png);
}

.class12 {
    background-image: url(./images/class12.png);
}

.custom-static-col-300px {
    flex: 0 0 auto;
    max-width: none;
    width: 300px;
}