gameface-carousel {
    visibility: hidden;
}

.carousel {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.content-wrapper {
    display: flex;
    position: absolute;
    left: 0px;
    flex-direction: row;
}

.dots {
    display: flex;
    flex-direction: row;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: rgb(135, 199, 255);
}