<div>
    <div class="guic-carousel">
        <div class="guic-carousel-content-wrapper">
            <component-slot data-name="carousel-content"></component-slot>
        </div>
        <div class="guic-carousel-btn-next guic-carousel-arrow guic-carousel-right-arrow">
            <component-slot data-name="carousel-next" class="guic-carousel-arrow-slot">
                <div class="guic-carousel-inner-arrow guic-carousel-inner-arrow-right"></div>
            </component-slot>
        </div>
        <div class="guic-carousel-btn-prev guic-carousel-arrow guic-carousel-left-arrow">
            <component-slot data-name="carousel-previous" class="guic-carousel-arrow-slot">
                <div class="guic-carousel-inner-arrow guic-carousel-inner-arrow-left"></div>
            </component-slot>
        </div>
    </div>
    <div class="guic-carousel-dots"></div>
</div>