.navbar-form {
  position: relative;
}

#search {
  border: 1px solid $gray-300;
}

[data-dark-mode] #search {
  border: 1px solid $gray-700;
}

#start-search-btn {
  color: $black;
}

[data-dark-mode] #start-search-btn {
  color: $body-color-dark;
}

body > #suggestions{
  position: fixed;
  margin-top: 0.5rem;
}

.doks-subnavbar div{
  flex-flow: column;
}

#suggestions {
  left: 0;
  width: 100% !important;
  z-index: $zindex-dropdown;
  --bs-bg-opacity: 1;
  background: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}

[data-dark-mode] #suggestions {
  --bs-bg-opacity: 1;
  background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

[data-dark-mode] #suggestions,
#suggestions a {
  color: $body-color-dark;
}

[data-dark-mode] #suggestions a {
  color: $body-color-dark;
}

[data-dark-mode] #suggestions a:hover,
[data-dark-mode] #suggestions a:focus {
  background: var(--bs-gray-700);
}

#suggestions a,
.suggestion__no-results {
  padding: 0.75rem;
  margin: 0 0.5rem;
}

#suggestions a {
  display: block;
  text-decoration: none;
}

#suggestions a:focus {
  background: $gray-100;
  outline: 0;
}

#suggestions div:not(:first-child) {
  border-top: 1px dashed $gray-200;
}

#suggestions div:first-child {
  margin-top: 0.5rem;
}

#suggestions div:last-child {
  margin-bottom: 0.5rem;
}

#suggestions a:hover {
  background: $gray-100;
}

#suggestions span {
  font-size: $font-size-base;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

[data-dark-mode] .suggestion__title {
  color: $body-color-dark;
}

.suggestion__title {
  min-width: 0;
  width: 30%;
  font-weight: $headings-font-weight;
  color: $black;
}

.suggestion__description,
.suggestion__description_all,
.suggestion__no-results {
  color: $gray-700;
  width: 75%;
}

[data-dark-mode] .suggestion__description {
  color: $body-color-dark;
}

[data-dark-mode] .suggestion__description_all {
  color: $body-color-dark;
}

[data-dark-mode] .suggestion__no-results {
  color: $body-color-dark;
}

.suggestion__description,
.suggestion__no-results {
  white-space: pre !important;
}

.suggestion__description_all {
  display: block !important;
}

#pagination {
  display: flex;
  justify-content: center;
}

#pagination button {
  background-color: none;
  border-radius: 5px;
  border: 1px solid $gray-300;
  margin: 5px;
}

[data-dark-mode] #pagination button {
  background-color: $gray-900;
  border-radius: 5px;
  border: 1px solid $gray-700;
  margin: 5px;
  color: $body-color-dark;
}

#pagination button.btn-active {
  transform: scale(1.2);
  border: 1px solid $black;
}

[data-dark-mode] #pagination button.btn-active {
  border: 1px solid $gray-300;
}

#pagination button:hover {
  background: $gray-100;
}

[data-dark-mode] #pagination button:hover {
  background: $gray-300;
  color: $gray-900;
}

@include media-breakpoint-up(sm) {
  #suggestions {
    width: 31.125rem;
  }

  #suggestions a {
    display: flex;
  }

  .suggestion__title {
    padding-right: 1rem;
    border-right: 1px solid $gray-200;
  }

  .suggestion__description,
  .suggestion__description_all {
    padding-left: 1rem;
  }
}