<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./coherent-gameface-components-theme.css">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
    <style>
        body {
            height: 100vh;
            width: 100vw;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <button class="show">Show Toasts</button>
    <div class="move-right">Move toast to right</div>
    <gameface-toast position="right" gravity="bottom" timeout="10000">
        <component-slot data-name="message">gameface-toast 1</component-slot>
    </gameface-toast>
    <gameface-toast>
        <component-slot data-name="message">gameface-toast 2</component-slot>
    </gameface-toast>
    <script>
        const showBtn = document.querySelector('.show');
        const toasts = document.querySelectorAll('gameface-toast');
        showBtn.addEventListener('click', () => {
            toasts.forEach((toast) => toast.show());
        })

        const toastToRightBtn = document.querySelector('.move-right');
        toastToRightBtn.addEventListener('click', () => {
            toasts.forEach((toast) => toast.position = 'left')
        })
    </script>
</body>

</html>