<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./coherent-gameface-components-theme.css">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
    <style>
        body {
            height: 100vh;
            width: 100vw;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .target-test {
            cursor: pointer;
            padding: 10px;
            background-color: aqua;
            color: white;
        }
    </style>
</head>

<body>
    <button class="show">Show Toasts</button>
    <div class="move-right">Change innerHTML</div>
    <div class="target-test">Click me to open toast 3</div>
    <gameface-toast position="right" gravity="bottom" timeout="3000">
        <div slot="message">Timeout toast</div>
    </gameface-toast>
    <gameface-toast position="left" gravity="top">
        <div slot="message">Timeout toast</div>
    </gameface-toast>
    <gameface-toast position="left" gravity="top">
        <div slot="message">Timeout toast</div>
    </gameface-toast>
    <gameface-toast position="left" gravity="top">
        <div slot="message">Timeout toast</div>
    </gameface-toast>
    <gameface-toast>
        <component-slot data-name="message">Manual removal toast</component-slot>
    </gameface-toast>
    <gameface-toast position="right" gravity="top" timeout="3000" target=".target-test">
        <div slot="message">Timeout toast 3</div>
    </gameface-toast>
    <script>
        const showBtn = document.querySelector('.show');
        const toasts = document.querySelectorAll('gameface-toast');
        showBtn.addEventListener('click', () => {
            toasts.forEach((toast) => toast.show());
        })

        const toastToRightBtn = document.querySelector('.move-right');
        toastToRightBtn.addEventListener('click', () => {
            toasts.forEach((toast) => {
                console.log(toast.message)
                toast.message =
                    `<div><ul><li>It</li><li>works!</li></ul></div>`
            })
        })
    </script>
</body>

</html>