<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./coherent-gameface-components-theme.css">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
    <style>
        body {
            height: 100vh;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <gameface-toast position="right" gravity="bottom">
        <component-slot data-name="message">gameface-toast</component-slot>
    </gameface-toast>
    <gameface-toast>
        <component-slot data-name="message">gameface-toast</component-slot>
    </gameface-toast>
</body>

</html>