body {
    background-color: #ebebeb;
}

.slider-component,
.vertical-slider-component {
    width: 10%;
    display: none;
}

.wrapper {
    position: relative;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
}

.scrollable-container {
    width: 90%;
    overflow: scroll;
    background-color: #ebebeb;
}