<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .left-menu,
        .right-menu {
            top: 20vh;
        }
    </style>
</head>

<body>
    <gameface-base-menu class="gameface-base-menu-component" orientation="horizontal">
        <menu-item id="game" slot="menu-item" callback="console.log('aaaaaaaaaaaaaa')">Start Game</menu-item>
        <menu-item id="test" slot="menu-item">
            Settings
            <gameface-left-menu class="nested-menu-settings" orientation="vertical">
                <menu-item slot="menu-item">Graphics</menu-item>
                <menu-item slot="menu-item">
                    Keyboard
                    <gameface-left-menu class="nested-menu-settings1" orientation="vertical">
                        <menu-item slot="menu-item">Graphics</menu-item>
                        <menu-item slot="menu-item">Keyboard</menu-item>
                        <menu-item slot="menu-item">
                            Mouse
                            <gameface-left-menu class="nested-menu-settings1" orientation="vertical">
                                <menu-item slot="menu-item">Graphics</menu-item>
                                <menu-item slot="menu-item">Keyboard</menu-item>
                                <menu-item slot="menu-item">Mouse</menu-item>
                            </gameface-left-menu>
                        </menu-item>
                    </gameface-left-menu>
                </menu-item>
                <menu-item slot="menu-item">
                    Mouse
                </menu-item>
            </gameface-left-menu>
        </menu-item>
        <menu-item slot="menu-item" id="hero" disabled>Hero Gallery</menu-item>
        <menu-item slot="menu-item">Credits</menu-item>
    </gameface-base-menu>


    <gameface-left-menu orientation="vertical" class="left-menu">
        <menu-item slot="menu-item">
            Settings
            <gameface-left-menu class="nested-menu-left-settings" orientation="vertical">
                <menu-item slot="menu-item">Graphics</menu-item>
                <menu-item slot="menu-item">Keyboard</menu-item>
                <menu-item slot="menu-item">Mouse</menu-item>
            </gameface-left-menu>
        </menu-item>
    </gameface-left-menu>

    <gameface-bottom-menu>
        <menu-item slot="menu-item">About
            <gameface-left-menu class="nested-menu-settings-bottom" orientation="vertical">
                <menu-item slot="menu-item">Graphics</menu-item>
                <menu-item slot="menu-item">Keyboard</menu-item>
                <menu-item slot="menu-item">Mouse</menu-item>
            </gameface-left-menu>
        </menu-item>
        <menu-item slot="menu-item">Credits</menu-item>
        <menu-item slot="menu-item">Credits</menu-item>
        <menu-item slot="menu-item">Credits</menu-item>
    </gameface-bottom-menu>

    <gameface-right-menu class="right-menu">
        <menu-item slot="menu-item">About
            <gameface-right-menu class="nested-menu-settings-right" orientation="vertical">
                <menu-item slot="menu-item">Graphics</menu-item>
                <menu-item slot="menu-item">Keyboard</menu-item>
                <menu-item slot="menu-item">Mouse</menu-item>
            </gameface-right-menu>
        </menu-item>
        <menu-item slot="menu-item">Credits</menu-item>
        <menu-item slot="menu-item">Credits</menu-item>
        <menu-item slot="menu-item">Credits</menu-item>
    </gameface-right-menu>

    <script src="./bundle.js"></script>
</body>

</html>