dropdown-option {
    background-color: var(--default-color-white);
}

.options {
    display: flex;
    flex-direction: column;
    background-color: var(--default-color-white);
    width: 150px;
}

.header {
    align-items: center;
    display: flex;
}

.selected {
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    height: 30px;
    width: 150px;
    background-color: var(--default-color-white);
    padding: 0px 10px;
}

.selected:hover {
    border: 2px solid;
    border-top-color: var(--default-color-blue);
    border-bottom-color: var(--default-color-blue);
    border-left-color: var(--default-color-blue);
    border-right-color: var(--default-color-blue);
}

.options-container {
    height: 204px;
    width: 150px;
    border: 2px;
    border-style: solid;
    border-top-color: var(--default-color-blue);
    border-bottom-color: var(--default-color-blue);
    border-left-color: var(--default-color-blue);
    border-right-color: var(--default-color-blue);
}

gameface-dropdown {
    width: 150px;
    position: relative;
    top: 10px;
    left: 10px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.custom-select-arrow {
    position: absolute;
    right: 4px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000;
}

dropdown-option {
    padding: 1px 4px;
}

/* dropdown-option:hover {
    background-color: var(--default-color-blue);
} */

.disabled {
    color: var(--default-color-gray);
    pointer-events: none;
}

.active {
    background-color: var(--default-color-blue);
}

.hidden {
    display: none;
}

.disable-hover{
    pointer-events: none;
}