body {
    background-color: #ebebeb;
}

gameface-menu {
    position: relative;
}

menu-item {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

menu-item:hover {
    background-color: #bdbdbd;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}